/* General Layout */
.admin-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }
  
  /* Header */
  .header {
      position: fixed;
      top: 0;
      width: 100%;
      background-color: #3261a8;
      padding: 20px 0;
      display: flex;
      justify-content: center;
      z-index: 10;
  }
  
  .logo {
      height: 50px;
      cursor: pointer;
  }

  .btn-logout {
    background-color: #f9a826;
    color: #fff;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    left: -100px; 
    top: 0px;
    margin: 25px 100px 100px 120px; 
  }
  
  .btn-logout:hover {
    background-color: #e5941e;
  }