<div class="header">
    <img src="assets/logo.png" alt="Logo INOVE" class="logo">
    <h1>Melhore seu conhecimento com a tecnologia</h1>
    <button class="cta-button">Veja os cursos</button>
    <button class="login-button" (click)="navigateToLogin()">Login</button>

  </div>
  
  <section class="features">
    <div class="feature">
      <img src="assets/icone1.png" alt="Fácil Acesso">
      <p>Fácil Acesso</p>
    </div>
    <div class="feature">
      <img src="assets/icone2.png" alt="Plataforma Gratuita">
      <p>Plataforma Gratuita</p>
    </div>
    <div class="feature">
      <img src="assets/icone3.png" alt="Apoiando o conhecimento">
      <p>Apoiando o conhecimento</p>
    </div>
    <div class="feature">
      <img src="assets/icone4.png" alt="Melhor aprendizado">
      <p>Melhor aprendizado</p>
    </div>
  </section>
  
  <section class="image-group">
    <img src="assets/mask-group.png" alt="Imagens da plataforma" class="gallery">
  </section>
  
  <section class="about">
    <h2>Sobre o projeto</h2>
    <p>Conheça a equipe por trás da inovação! Nossa plataforma educacional online foi desenvolvida por uma equipe...</p>
  </section>
  
  <footer>
    <div class="social-links">
      <img src="assets/twitter-icon.png" alt="Twitter">
      <img src="assets/instagram-icon.png" alt="Instagram">
      <img src="assets/mail-icon.png" alt="Email">
    </div>
    <div class="footer-links">
      <p><a href="#">Tópico 1</a></p>
      <p><a href="#">Tópico 2</a></p>
      <p><a href="#">Tópico 3</a></p>
    </div>
  </footer>
  