    <!-- Header -->
    <header class="header">
        <div class="header-left">
            <img src="assets/logowhite.png" (click)="navigateTo('/inicial')" alt="Logotipo INOVE" class="logo">
        </div>
        <div class="header-center">
            <button class="search-btn">
                <img src="assets/flaticons/search-icon.png" alt="Ícone de lupa">
            </button>
            <input type="text" class="search-bar" placeholder="Pesquisar Cursos">
        </div>
        <div class="header-right" (click)="navigateTo('/cursos')">
            <button class="voltar-btn">Voltar</button>
        </div>
        <div class="header-right" (click)="navigateTo('/perfil-usuario')">
            <button class="profile-btn">Perfil</button>
        </div>
    </header>    

<!-- Main Content -->
<main class="main-content">
  <!-- Course Info -->
  <div class="course-info">
    <h1 class="course-title">NOME DO CURSO</h1>
    <p><strong>Descrição do curso:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p><strong>Instrutor:</strong> João Silva</p>
    <p><strong>Data da criação:</strong> {{ courseCreationDate | date: 'dd/MM/yyyy' }}</p>
    <p><strong>Última atualização:</strong> {{ lastUpdateDate | date: 'dd/MM/yyyy' }}</p><br>
    <button class="btn-subscribe" (click)="navigateTo('/painel-curso')">Inscreva-se</button>
  </div><br>

  <!-- Comments Section -->
  <section class="comments-section">
    <h2 class="comments-title">Comentários:</h2><br>
    <div class="comment" *ngFor="let comment of comments">
      <p class="comment-user"><strong>{{ comment.user }}</strong></p>
      <p class="comment-text">{{ comment.text }}</p>
    </div>
  </section>
</main>

  
  